:root {
  --light-color: #ffffff;
  --dark-color: #102740;
  --accent-color: #dc1f21;
}

.Weather .form-control {
  border: solid 1px var(--accent-color);
  color: var(--dark-color);
  border-radius: 3px;
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--light-color);
  border: solid 1px var(--accent-color);
  border-radius: 3px;
}

.Weather {
  border: solid thin var(--dark-color);
  font-family: "Fira Sans", sans-serif;
  border-radius: 3px;
  padding: 0px;
}

.Weather h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 0;
  color: var(--accent-color);
  margin-top: 25px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
}

.Weather .search-form-section {
  padding: 25px;
}
