.WeatherTemperature .current-icon {
  width: 125px;
}

.WeatherTemperature .temperature {
  font-weight: bold;
  font-size: 50px;
}

.WeatherTemperature .unit {
  font-size: 20px;
  position: absolute;
}
